# Setting up environment and importing data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import SMOTE
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
import statsmodels.formula.api as smf

In [2]:
sample = pd.read_csv("dsa3101-ay2122-sem1-assignment3/sample.csv")
sample2 = pd.read_csv("dsa3101-ay2122-sem1-assignment3/sample2.csv")
train = pd.read_csv("dsa3101-ay2122-sem1-assignment3/train.csv")
test = pd.read_csv("dsa3101-ay2122-sem1-assignment3/test.csv")

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                3000 non-null   int64
 1   CHK_ACCT          3000 non-null   int64
 2   DURATION          3000 non-null   int64
 3   HISTORY           3000 non-null   int64
 4   NEW_CAR           3000 non-null   int64
 5   USED_CAR          3000 non-null   int64
 6   FURNITURE         3000 non-null   int64
 7   RADIO_TV          3000 non-null   int64
 8   EDUCATION         2985 non-null   float64
 9   RETRAINING        3000 non-null   int64
 10  AMOUNT            2994 non-null   float64
 11  SAV_ACCT          3000 non-null   int64
 12  EMPLOYMENT        3000 non-null   int64
 13  INSTALL_RATE      3000 non-null   int64
 14  MALE_DIV          3000 non-null   int64
 15  MALE_SINGLE       3000 non-null   int64
 16  MALE_MAR_or_WID   3000 non-null   int64
 17  CO_APPLICANT      3000 non-null   int64
 18  GUARANTOR         3000 non-null   int64
 19  PRESENT_RESIDENT  3000 non-null   int64
 20  REAL_ESTATE       3000 non-null   int64
 21  PROP_UNKN_NONE    3000 non-null   int64
 22  AGE               3000 non-null   int64
 23  OTHER_INSTALL     3000 non-null   int64
 24  RENT              2976 non-null   float64
 25  OWN_RES           3000 non-null   int64
 26  NUM_CREDITS       3000 non-null   int64
 27  JOB               2976 non-null   float64
 28  NUM_DEPENDENTS    3000 non-null   int64
 29  TELEPHONE         3000 non-null   int64
 30  FOREIGN           3000 non-null   int64
 31  RESPONSE          3000 non-null   int64
dtypes: float64(4), int64(28)
memory usage: 750.1 KB

Drop ID column which won't be useful

In [4]:
IDs = test['ID'].to_frame()
train = train.drop('ID', axis = 1)
test = test.drop('ID',axis = 1)
train.head()

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
0,3,16,2,0,0,0,0,0.0,1,3226.0,...,41,0,0.0,1,1,2.0,1,0,0,1
1,1,13,4,0,0,0,0,0.0,0,3158.0,...,42,0,0.0,0,1,2.0,1,1,0,1
2,1,16,2,1,0,0,0,0.0,0,1269.0,...,23,1,0.0,1,1,2.0,1,0,0,1
3,1,8,2,0,0,0,1,0.0,0,2575.0,...,23,0,1.0,0,1,1.0,1,0,0,0
4,0,16,2,1,0,0,0,0.0,0,5908.0,...,34,0,1.0,1,1,2.0,2,1,0,1

# Data Cleaning

## Check for duplicates

In [5]:
sum(train.duplicated())

0

No duplicates.

## Check for NAs

In [6]:
train.isnull().sum()

CHK_ACCT             0
DURATION             0
HISTORY              0
NEW_CAR              0
USED_CAR             0
FURNITURE            0
RADIO_TV             0
EDUCATION           15
RETRAINING           0
AMOUNT               6
SAV_ACCT             0
EMPLOYMENT           0
INSTALL_RATE         0
MALE_DIV             0
MALE_SINGLE          0
MALE_MAR_or_WID      0
CO_APPLICANT         0
GUARANTOR            0
PRESENT_RESIDENT     0
REAL_ESTATE          0
PROP_UNKN_NONE       0
AGE                  0
OTHER_INSTALL        0
RENT                24
OWN_RES              0
NUM_CREDITS          0
JOB                 24
NUM_DEPENDENTS       0
TELEPHONE            0
FOREIGN              0
RESPONSE             0
dtype: int64

NAs appear in Education, Amount, Rent and Job columns
Here I presume that people are trying to hide their purpose, indicating that their values for these columns are deeemd to be 'undesirable' i.e not for Education
Hence I make the following changes :
- Education : 0 (Credit is not for Education)
- Amount : Remove 
- Rent : 1 (Applicant rents)
- Job : 0 (Unemployed / Unskilled)

In [7]:
#Change Education
train['EDUCATION'] = train['EDUCATION'].fillna(0)

In [8]:
#Change Rent
train['RENT'] = train['RENT'].fillna(1)

In [9]:
#Change Job
train['JOB'] = train['JOB'].fillna(0)

In [10]:
#remove rows with NA amount
train = train.dropna().reset_index(drop = True)
train

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
0,3,16,2,0,0,0,0,0.0,1,3226.0,...,41,0,0.0,1,1,2.0,1,0,0,1
1,1,13,4,0,0,0,0,0.0,0,3158.0,...,42,0,0.0,0,1,2.0,1,1,0,1
2,1,16,2,1,0,0,0,0.0,0,1269.0,...,23,1,0.0,1,1,2.0,1,0,0,1
3,1,8,2,0,0,0,1,0.0,0,2575.0,...,23,0,1.0,0,1,1.0,1,0,0,0
4,0,16,2,1,0,0,0,0.0,0,5908.0,...,34,0,1.0,1,1,2.0,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2989,3,15,1,0,0,0,1,0.0,0,1569.0,...,34,1,0.0,1,1,1.0,2,0,0,1
2990,0,18,2,0,0,0,1,0.0,0,1936.0,...,23,0,1.0,0,2,1.0,1,0,0,1
2991,0,30,2,0,1,0,0,0.0,0,9999999.0,...,40,0,0.0,1,1,3.0,1,1,0,1
2992,3,12,2,0,0,0,1,0.0,0,804.0,...,38,0,0.0,1,1,2.0,1,0,0,1
2993,1,45,4,0,1,0,0,0.0,0,4576.0,...,27,0,0.0,1,1,2.0,1,0,0,1

## Inspecting the numerical columns

In [11]:
train['DURATION'].value_counts().to_dict()

{24: 257,
 12: 234,
 18: 151,
 9: 145,
 10: 136,
 15: 125,
 23: 119,
 11: 116,
 6: 109,
 13: 105,
 8: 94,
 36: 88,
 25: 82,
 22: 80,
 14: 80,
 16: 70,
 7: 69,
 17: 69,
 21: 68,
 19: 53,
 20: 45,
 30: 44,
 48: 42,
 5: 37,
 33: 37,
 4: 28,
 42: 28,
 26: 28,
 40: 27,
 39: 27,
 38: 26,
 34: 26,
 41: 23,
 37: 23,
 45: 22,
 35: 21,
 44: 21,
 29: 20,
 32: 20,
 31: 20,
 49: 19,
 27: 18,
 28: 17,
 46: 15,
 47: 13,
 43: 11,
 60: 10,
 53: 9,
 56: 9,
 50: 8,
 3: 7,
 1: 6,
 51: 5,
 54: 5,
 55: 5,
 2: 4,
 52: 4,
 58: 3,
 62: 3,
 59: 2,
 61: 2,
 68: 1,
 65: 1,
 63: 1,
 72: 1}

In [12]:
#train['DURATION'] = train['DURATION']/12

In [13]:
train.head()

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
0,3,16,2,0,0,0,0,0.0,1,3226.0,...,41,0,0.0,1,1,2.0,1,0,0,1
1,1,13,4,0,0,0,0,0.0,0,3158.0,...,42,0,0.0,0,1,2.0,1,1,0,1
2,1,16,2,1,0,0,0,0.0,0,1269.0,...,23,1,0.0,1,1,2.0,1,0,0,1
3,1,8,2,0,0,0,1,0.0,0,2575.0,...,23,0,1.0,0,1,1.0,1,0,0,0
4,0,16,2,1,0,0,0,0.0,0,5908.0,...,34,0,1.0,1,1,2.0,2,1,0,1

Duration column looks okay.

In [14]:
train['AMOUNT'].value_counts().to_dict()

{9999999.0: 59,
 1532.0: 5,
 1582.0: 5,
 909.0: 5,
 1082.0: 5,
 2096.0: 4,
 1940.0: 4,
 1231.0: 4,
 1092.0: 4,
 1262.0: 4,
 1928.0: 4,
 1169.0: 4,
 802.0: 4,
 1920.0: 4,
 1047.0: 4,
 1444.0: 4,
 1344.0: 4,
 1123.0: 4,
 3195.0: 4,
 1769.0: 4,
 1605.0: 3,
 1110.0: 3,
 1871.0: 3,
 1424.0: 3,
 1287.0: 3,
 960.0: 3,
 2337.0: 3,
 2303.0: 3,
 1564.0: 3,
 1048.0: 3,
 1085.0: 3,
 731.0: 3,
 1390.0: 3,
 1274.0: 3,
 1040.0: 3,
 1413.0: 3,
 914.0: 3,
 2009.0: 3,
 1559.0: 3,
 958.0: 3,
 1238.0: 3,
 2133.0: 3,
 1603.0: 3,
 1993.0: 3,
 1108.0: 3,
 1773.0: 3,
 1368.0: 3,
 1064.0: 3,
 1052.0: 3,
 1222.0: 3,
 1474.0: 3,
 2028.0: 3,
 1471.0: 3,
 1756.0: 3,
 1884.0: 3,
 937.0: 3,
 2148.0: 3,
 1365.0: 3,
 1553.0: 3,
 2728.0: 3,
 867.0: 3,
 1199.0: 3,
 1258.0: 3,
 1659.0: 3,
 3777.0: 3,
 1437.0: 3,
 1106.0: 3,
 1217.0: 3,
 5595.0: 3,
 6055.0: 3,
 1516.0: 3,
 1282.0: 3,
 2122.0: 3,
 1371.0: 3,
 1721.0: 3,
 2600.0: 3,
 3617.0: 3,
 1563.0: 3,
 1737.0: 3,
 2164.0: 3,
 966.0: 3,
 1992.0: 3,
 1663.0: 3,
 2241.0: 3,
 1347.0: 3,
 1393.0: 3,
 1193.0: 3,
 717.0: 3,
 1173.0: 3,
 907.0: 3,
 1095.0: 3,
 1038.0: 3,
 2186.0: 3,
 1154.0: 3,
 2799.0: 3,
 769.0: 3,
 1577.0: 3,
 1455.0: 3,
 1301.0: 3,
 2358.0: 3,
 2389.0: 3,
 2476.0: 2,
 1547.0: 2,
 1039.0: 2,
 1473.0: 2,
 1442.0: 2,
 6742.0: 2,
 1057.0: 2,
 1385.0: 2,
 2344.0: 2,
 3390.0: 2,
 1950.0: 2,
 2792.0: 2,
 1419.0: 2,
 745.0: 2,
 560.0: 2,
 1478.0: 2,
 1676.0: 2,
 5998.0: 2,
 3343.0: 2,
 1505.0: 2,
 497.0: 2,
 727.0: 2,
 3335.0: 2,
 3990.0: 2,
 1348.0: 2,
 1502.0: 2,
 1482.0: 2,
 2991.0: 2,
 3235.0: 2,
 2631.0: 2,
 1178.0: 2,
 7518.0: 2,
 1168.0: 2,
 2000.0: 2,
 3362.0: 2,
 3072.0: 2,
 666.0: 2,
 2370.0: 2,
 1546.0: 2,
 1770.0: 2,
 1412.0: 2,
 1527.0: 2,
 3570.0: 2,
 4264.0: 2,
 1703.0: 2,
 625.0: 2,
 1736.0: 2,
 900.0: 2,
 1951.0: 2,
 1507.0: 2,
 1050.0: 2,
 2515.0: 2,
 2007.0: 2,
 1493.0: 2,
 6216.0: 2,
 1495.0: 2,
 1239.0: 2,
 4272.0: 2,
 3017.0: 2,
 2343.0: 2,
 2093.0: 2,
 1190.0: 2,
 2331.0: 2,
 2578.0: 2,
 664.0: 2,
 8195.0: 2,
 10424.0: 2,
 479.0: 2,
 2484.0: 2,
 766.0: 2,
 1216.0: 2,
 1058.0: 2,
 2069.0: 2,
 993.0: 2,
 385.0: 2,
 2194.0: 2,
 828.0: 2,
 1333.0: 2,
 2934.0: 2,
 3049.0: 2,
 4079.0: 2,
 1523.0: 2,
 1747.0: 2,
 1740.0: 2,
 1330.0: 2,
 771.0: 2,
 1432.0: 2,
 721.0: 2,
 1210.0: 2,
 1602.0: 2,
 611.0: 2,
 1289.0: 2,
 1980.0: 2,
 682.0: 2,
 3907.0: 2,
 1439.0: 2,
 1492.0: 2,
 2573.0: 2,
 838.0: 2,
 2235.0: 2,
 860.0: 2,
 1411.0: 2,
 1783.0: 2,
 1639.0: 2,
 1858.0: 2,
 2586.0: 2,
 901.0: 2,
 873.0: 2,
 2100.0: 2,
 1295.0: 2,
 3631.0: 2,
 2828.0: 2,
 1055.0: 2,
 2606.0: 2,
 1121.0: 2,
 1647.0: 2,
 8613.0: 2,
 1264.0: 2,
 3413.0: 2,
 1524.0: 2,
 1044.0: 2,
 2759.0: 2,
 874.0: 2,
 3736.0: 2,
 2051.0: 2,
 1425.0: 2,
 1984.0: 2,
 1024.0: 2,
 1103.0: 2,
 2848.0: 2,
 1725.0: 2,
 1441.0: 2,
 2844.0: 2,
 6465.0: 2,
 2559.0: 2,
 955.0: 2,
 4064.0: 2,
 2305.0: 2,
 1549.0: 2,
 2214.0: 2,
 2414.0: 2,
 7729.0: 2,
 1996.0: 2,
 295.0: 2,
 3304.0: 2,
 7721.0: 2,
 701.0: 2,
 2779.0: 2,
 1284.0: 2,
 2623.0: 2,
 1583.0: 2,
 1297.0: 2,
 1913.0: 2,
 1355.0: 2,
 1498.0: 2,
 2579.0: 2,
 6468.0: 2,
 1468.0: 2,
 1098.0: 2,
 5389.0: 2,
 858.0: 2,
 1620.0: 2,
 1379.0: 2,
 1681.0: 2,
 1680.0: 2,
 792.0: 2,
 1382.0: 2,
 759.0: 2,
 2127.0: 2,
 4210.0: 2,
 2769.0: 2,
 2443.0: 2,
 684.0: 2,
 1361.0: 2,
 5878.0: 2,
 1925.0: 2,
 2424.0: 2,
 1151.0: 2,
 1125.0: 2,
 433.0: 2,
 1449.0: 2,
 4746.0: 2,
 1533.0: 2,
 888.0: 2,
 1534.0: 2,
 1713.0: 2,
 1480.0: 2,
 1277.0: 2,
 2916.0: 2,
 2668.0: 2,
 2171.0: 2,
 1935.0: 2,
 3394.0: 2,
 3446.0: 2,
 5954.0: 2,
 1305.0: 2,
 685.0: 2,
 1271.0: 2,
 2594.0: 2,
 3832.0: 2,
 1346.0: 2,
 3006.0: 2,
 3939.0: 2,
 942.0: 2,
 2275.0: 2,
 4042.0: 2,
 1332.0: 2,
 2347.0: 2,
 3676.0: 2,
 1195.0: 2,
 3432.0: 2,
 3123.0: 2,
 1076.0: 2,
 1240.0: 2,
 709.0: 2,
 1422.0: 2,
 1056.0: 2,
 2183.0: 2,
 1655.0: 2,
 2978.0: 2,
 2526.0: 2,
 1198.0: 2,
 4016.0: 2,
 1554.0: 2,
 1175.0: 2,
 4281.0: 2,
 1135.0: 2,
 1118.0: 2,
 1273.0: 2,
 3215.0: 2,
 2888.0: 2,
 1174.0: 2,
 3045.0: 2,
 1936.0: 2,
 1232.0: 2,
 2076.0: 2,
 2592.0: 2,
 931.0: 2,
 1225.0: 2,
 3621.0: 2,
 3181.0: 2,
 1313.0: 2,
 1952.0: 2,
 1819.0: 2,
 1337.0: 2,
 1296.0: 2,
 2767.0: 2,
 6579.0: 2,
 1755.0: 2,
 19086.0: 2,
 1886.0: 2,
 1387.0: 2,
 3193.0: 2,
 1081.0: 2,
 1207.0: 2,
 1484.0: 2,
 1754.0: 2,
 2058.0: 2,
 4288.0: 2,
 1520.0: 2,
 1743.0: 2,
 1236.0: 2,
 743.0: 2,
 3692.0: 2,
 3813.0: 2,
 1356.0: 2,
 5302.0: 2,
 2707.0: 2,
 2353.0: 2,
 3149.0: 2,
 1146.0: 2,
 2411.0: 2,
 6181.0: 2,
 1650.0: 2,
 2684.0: 2,
 7038.0: 2,
 3384.0: 2,
 3814.0: 2,
 1954.0: 2,
 976.0: 2,
 1544.0: 2,
 2394.0: 2,
 1053.0: 2,
 2205.0: 2,
 1418.0: 2,
 1443.0: 2,
 3703.0: 2,
 929.0: 2,
 5102.0: 2,
 1836.0: 2,
 1285.0: 2,
 2237.0: 2,
 2855.0: 2,
 3256.0: 2,
 2577.0: 2,
 1521.0: 2,
 1063.0: 2,
 1204.0: 2,
 1134.0: 2,
 1420.0: 2,
 698.0: 2,
 1408.0: 2,
 2837.0: 2,
 2034.0: 2,
 2060.0: 2,
 1375.0: 2,
 1640.0: 2,
 1664.0: 2,
 843.0: 2,
 2946.0: 2,
 1700.0: 2,
 2689.0: 2,
 1192.0: 2,
 1126.0: 2,
 1995.0: 2,
 4084.0: 2,
 1272.0: 2,
 1781.0: 2,
 3518.0: 2,
 2323.0: 2,
 6711.0: 2,
 1501.0: 2,
 915.0: 2,
 1260.0: 2,
 741.0: 2,
 629.0: 2,
 1797.0: 2,
 1245.0: 2,
 1364.0: 2,
 1543.0: 2,
 1654.0: 2,
 1350.0: 2,
 2287.0: 2,
 3202.0: 2,
 1391.0: 2,
 983.0: 2,
 974.0: 2,
 1575.0: 2,
 1646.0: 2,
 2338.0: 2,
 3539.0: 2,
 1929.0: 2,
 753.0: 2,
 3512.0: 2,
 2843.0: 2,
 1641.0: 2,
 7161.0: 2,
 2697.0: 2,
 947.0: 2,
 4454.0: 2,
 1312.0: 2,
 4594.0: 2,
 2762.0: 2,
 2089.0: 2,
 2326.0: 2,
 980.0: 2,
 4526.0: 2,
 3107.0: 2,
 2383.0: 2,
 6440.0: 2,
 1795.0: 2,
 6409.0: 2,
 1739.0: 2,
 2384.0: 2,
 3349.0: 2,
 1275.0: 2,
 8606.0: 1,
 419.0: 1,
 3347.0: 1,
 3154.0: 1,
 4492.0: 1,
 10382.0: 1,
 7767.0: 1,
 2023.0: 1,
 2376.0: 1,
 739.0: 1,
 322.0: 1,
 857.0: 1,
 1045.0: 1,
 2419.0: 1,
 758.0: 1,
 2296.0: 1,
 14931.0: 1,
 6657.0: 1,
 3346.0: 1,
 5706.0: 1,
 829.0: 1,
 826.0: 1,
 1093.0: 1,
 1568.0: 1,
 7940.0: 1,
 7418.0: 1,
 7768.0: 1,
 7639.0: 1,
 1491.0: 1,
 14496.0: 1,
 2412.0: 1,
 5267.0: 1,
 4562.0: 1,
 669.0: 1,
 10914.0: 1,
 1894.0: 1,
 9930.0: 1,
 1529.0: 1,
 3020.0: 1,
 2019.0: 1,
 785.0: 1,
 2506.0: 1,
 3928.0: 1,
 4801.0: 1,
 7381.0: 1,
 8354.0: 1,
 752.0: 1,
 3799.0: 1,
 5790.0: 1,
 3728.0: 1,
 4145.0: 1,
 1025.0: 1,
 2297.0: 1,
 2699.0: 1,
 7369.0: 1,
 1509.0: 1,
 5521.0: 1,
 2667.0: 1,
 5791.0: 1,
 7392.0: 1,
 3019.0: 1,
 4205.0: 1,
 3440.0: 1,
 279.0: 1,
 7823.0: 1,
 226.0: 1,
 3466.0: 1,
 585.0: 1,
 473.0: 1,
 3593.0: 1,
 5782.0: 1,
 3109.0: 1,
 6005.0: 1,
 1002.0: 1,
 2939.0: 1,
 1643.0: 1,
 15311.0: 1,
 102.0: 1,
 7299.0: 1,
 3695.0: 1,
 15414.0: 1,
 8098.0: 1,
 5025.0: 1,
 1810.0: 1,
 1922.0: 1,
 1806.0: 1,
 723.0: 1,
 2739.0: 1,
 7328.0: 1,
 8580.0: 1,
 6256.0: 1,
 2542.0: 1,
 1986.0: 1,
 68.0: 1,
 1261.0: 1,
 3888.0: 1,
 2778.0: 1,
 482.0: 1,
 8951.0: 1,
 14260.0: 1,
 6937.0: 1,
 715.0: 1,
 3385.0: 1,
 8095.0: 1,
 7214.0: 1,
 1487.0: 1,
 2909.0: 1,
 921.0: 1,
 6578.0: 1,
 46.0: 1,
 3242.0: 1,
 803.0: 1,
 4160.0: 1,
 2530.0: 1,
 4589.0: 1,
 2576.0: 1,
 5723.0: 1,
 8847.0: 1,
 7502.0: 1,
 2015.0: 1,
 778.0: 1,
 4441.0: 1,
 2248.0: 1,
 3430.0: 1,
 8192.0: 1,
 -133.0: 1,
 11252.0: 1,
 877.0: 1,
 15385.0: 1,
 1427.0: 1,
 2386.0: 1,
 2887.0: 1,
 2514.0: 1,
 2230.0: 1,
 2856.0: 1,
 1937.0: 1,
 3618.0: 1,
 6479.0: 1,
 6366.0: 1,
 2758.0: 1,
 14368.0: 1,
 3031.0: 1,
 4325.0: 1,
 6843.0: 1,
 5373.0: 1,
 544.0: 1,
 9424.0: 1,
 2379.0: 1,
 3885.0: 1,
 8640.0: 1,
 1133.0: 1,
 7471.0: 1,
 2903.0: 1,
 291.0: 1,
 20249.0: 1,
 7602.0: 1,
 13032.0: 1,
 1982.0: 1,
 7619.0: 1,
 246.0: 1,
 11128.0: 1,
 1105.0: 1,
 1672.0: 1,
 1580.0: 1,
 2166.0: 1,
 1003.0: 1,
 14525.0: 1,
 954.0: 1,
 10592.0: 1,
 806.0: 1,
 638.0: 1,
 10661.0: 1,
 689.0: 1,
 5396.0: 1,
 387.0: 1,
 1745.0: 1,
 1453.0: 1,
 2546.0: 1,
 7840.0: 1,
 4765.0: 1,
 587.0: 1,
 6734.0: 1,
 1550.0: 1,
 5181.0: 1,
 5233.0: 1,
 1934.0: 1,
 3776.0: 1,
 11928.0: 1,
 7218.0: 1,
 3113.0: 1,
 3802.0: 1,
 3494.0: 1,
 2208.0: 1,
 933.0: 1,
 10773.0: 1,
 386.0: 1,
 2558.0: 1,
 5077.0: 1,
 1247.0: 1,
 4810.0: 1,
 3067.0: 1,
 4564.0: 1,
 2519.0: 1,
 6804.0: 1,
 1461.0: 1,
 5125.0: 1,
 3795.0: 1,
 1188.0: 1,
 2160.0: 1,
 8412.0: 1,
 903.0: 1,
 898.0: 1,
 8105.0: 1,
 3169.0: 1,
 1230.0: 1,
 3155.0: 1,
 5839.0: 1,
 8899.0: 1,
 917.0: 1,
 2482.0: 1,
 2372.0: 1,
 1206.0: 1,
 825.0: 1,
 17428.0: 1,
 11453.0: 1,
 1400.0: 1,
 5648.0: 1,
 3323.0: 1,
 1153.0: 1,
 5708.0: 1,
 8998.0: 1,
 2796.0: 1,
 4268.0: 1,
 15539.0: 1,
 10134.0: 1,
 1669.0: 1,
 6806.0: 1,
 2652.0: 1,
 6928.0: 1,
 2067.0: 1,
 2609.0: 1,
 3469.0: 1,
 1648.0: 1,
 2967.0: 1,
 5838.0: 1,
 262.0: 1,
 695.0: 1,
 3315.0: 1,
 5953.0: 1,
 3947.0: 1,
 584.0: 1,
 3302.0: 1,
 2140.0: 1,
 14132.0: 1,
 2653.0: 1,
 11184.0: 1,
 9492.0: 1,
 1226.0: 1,
 2474.0: 1,
 8466.0: 1,
 13434.0: 1,
 11452.0: 1,
 7141.0: 1,
 945.0: 1,
 10180.0: 1,
 7345.0: 1,
 2126.0: 1,
 300.0: 1,
 253.0: 1,
 738.0: 1,
 7611.0: 1,
 9126.0: 1,
 4510.0: 1,
 14453.0: 1,
 3877.0: 1,
 8134.0: 1,
 2711.0: 1,
 366.0: 1,
 5139.0: 1,
 439.0: 1,
 8238.0: 1,
 4198.0: 1,
 2086.0: 1,
 2330.0: 1,
 3629.0: 1,
 13256.0: 1,
 6399.0: 1,
 -145.0: 1,
 4343.0: 1,
 3532.0: 1,
 4058.0: 1,
 7686.0: 1,
 2922.0: 1,
 2227.0: 1,
 5811.0: 1,
 381.0: 1,
 11174.0: 1,
 1254.0: 1,
 3189.0: 1,
 2361.0: 1,
 2441.0: 1,
 1907.0: 1,
 3037.0: 1,
 418.0: 1,
 3341.0: 1,
 1887.0: 1,
 8577.0: 1,
 868.0: 1,
 3537.0: 1,
 2945.0: 1,
 2243.0: 1,
 5194.0: 1,
 2461.0: 1,
 1074.0: 1,
 2830.0: 1,
 2545.0: 1,
 2047.0: 1,
 9147.0: 1,
 1645.0: 1,
 2695.0: 1,
 1866.0: 1,
 5474.0: 1,
 2105.0: 1,
 6380.0: 1,
 2300.0: 1,
 515.0: 1,
 1294.0: 1,
 1140.0: 1,
 703.0: 1,
 6172.0: 1,
 3767.0: 1,
 8819.0: 1,
 1157.0: 1,
 3534.0: 1,
 -19.0: 1,
 2094.0: 1,
 4781.0: 1,
 8075.0: 1,
 641.0: 1,
 4446.0: 1,
 3559.0: 1,
 5164.0: 1,
 1268.0: 1,
 4189.0: 1,
 1622.0: 1,
 844.0: 1,
 10238.0: 1,
 2181.0: 1,
 3967.0: 1,
 2170.0: 1,
 1589.0: 1,
 6909.0: 1,
 1790.0: 1,
 8747.0: 1,
 7977.0: 1,
 1252.0: 1,
 3226.0: 1,
 1158.0: 1,
 1710.0: 1,
 1300.0: 1,
 1880.0: 1,
 1851.0: 1,
 750.0: 1,
 4370.0: 1,
 15653.0: 1,
 1376.0: 1,
 3660.0: 1,
 3914.0: 1,
 1530.0: 1,
 3652.0: 1,
 640.0: 1,
 12204.0: 1,
 1808.0: 1,
 3632.0: 1,
 2671.0: 1,
 1372.0: 1,
 1837.0: 1,
 918.0: 1,
 3863.0: 1,
 2775.0: 1,
 1358.0: 1,
 2718.0: 1,
 1572.0: 1,
 1965.0: 1,
 1388.0: 1,
 3124.0: 1,
 2930.0: 1,
 5433.0: 1,
 3234.0: 1,
 6758.0: 1,
 7980.0: 1,
 4583.0: 1,
 7476.0: 1,
 8086.0: 1,
 3077.0: 1,
 7596.0: 1,
 2118.0: 1,
 6560.0: 1,
 5324.0: 1,
 2503.0: 1,
 1377.0: 1,
 6331.0: 1,
 1905.0: 1,
 1800.0: 1,
 926.0: 1,
 2284.0: 1,
 4716.0: 1,
 2896.0: 1,
 2753.0: 1,
 6527.0: 1,
 5103.0: 1,
 2279.0: 1,
 1538.0: 1,
 5150.0: 1,
 2580.0: 1,
 10366.0: 1,
 4139.0: 1,
 4843.0: 1,
 3609.0: 1,
 3496.0: 1,
 4221.0: 1,
 10222.0: 1,
 3973.0: 1,
 3979.0: 1,
 4712.0: 1,
 250.0: 1,
 2764.0: 1,
 368.0: 1,
 1237.0: 1,
 3757.0: 1,
 1209.0: 1,
 1163.0: 1,
 3622.0: 1,
 3573.0: 1,
 1037.0: 1,
 5152.0: 1,
 2569.0: 1,
 3114.0: 1,
 654.0: 1,
 448.0: 1,
 4679.0: 1,
 754.0: 1,
 12389.0: 1,
 3620.0: 1,
 3386.0: 1,
 2679.0: 1,
 4817.0: 1,
 2670.0: 1,
 518.0: 1,
 11054.0: 1,
 1512.0: 1,
 1244.0: 1,
 5096.0: 1,
 719.0: 1,
 2136.0: 1,
 1872.0: 1,
 2743.0: 1,
 2996.0: 1,
 5493.0: 1,
 1309.0: 1,
 2360.0: 1,
 3552.0: 1,
 5003.0: 1,
 2278.0: 1,
 6999.0: 1,
 1750.0: 1,
 996.0: 1,
 8858.0: 1,
 626.0: 1,
 1552.0: 1,
 1255.0: 1,
 2032.0: 1,
 7763.0: 1,
 3612.0: 1,
 3105.0: 1,
 1311.0: 1,
 662.0: 1,
 2302.0: 1,
 1503.0: 1,
 7966.0: 1,
 1113.0: 1,
 3488.0: 1,
 3190.0: 1,
 5507.0: 1,
 7127.0: 1,
 609.0: 1,
 2255.0: 1,
 2687.0: 1,
 4686.0: 1,
 6850.0: 1,
 3148.0: 1,
 1882.0: 1,
 5842.0: 1,
 1592.0: 1,
 2002.0: 1,
 1366.0: 1,
 12749.0: 1,
 1817.0: 1,
 3345.0: 1,
 18424.0: 1,
 3161.0: 1,
 2142.0: 1,
 3594.0: 1,
 3711.0: 1,
 3763.0: 1,
 10477.0: 1,
 3485.0: 1,
 2625.0: 1,
 8947.0: 1,
 3331.0: 1,
 5800.0: 1,
 1829.0: 1,
 2442.0: 1,
 7824.0: 1,
 6614.0: 1,
 15672.0: 1,
 2825.0: 1,
 795.0: 1,
 4057.0: 1,
 9277.0: 1,
 7814.0: 1,
 1343.0: 1,
 7678.0: 1,
 652.0: 1,
 1049.0: 1,
 10297.0: 1,
 1867.0: 1,
 1670.0: 1,
 804.0: 1,
 1569.0: 1,
 1409.0: 1,
 6289.0: 1,
 1433.0: 1,
 ...}

Some rows contain negative amount, while some are absurdly high (9999999).

Let threshold be the max amount in test data.

In [15]:
train = train[(train['AMOUNT'] >= 0) & (train['AMOUNT'] <= max(test['AMOUNT']))]
#train['AMOUNT'] = train['AMOUNT']/1000
train

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
0,3,16,2,0,0,0,0,0.0,1,3226.0,...,41,0,0.0,1,1,2.0,1,0,0,1
1,1,13,4,0,0,0,0,0.0,0,3158.0,...,42,0,0.0,0,1,2.0,1,1,0,1
2,1,16,2,1,0,0,0,0.0,0,1269.0,...,23,1,0.0,1,1,2.0,1,0,0,1
3,1,8,2,0,0,0,1,0.0,0,2575.0,...,23,0,1.0,0,1,1.0,1,0,0,0
4,0,16,2,1,0,0,0,0.0,0,5908.0,...,34,0,1.0,1,1,2.0,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,3,13,2,0,0,0,1,0.0,0,1409.0,...,64,0,0.0,1,1,2.0,1,0,0,1
2989,3,15,1,0,0,0,1,0.0,0,1569.0,...,34,1,0.0,1,1,1.0,2,0,0,1
2990,0,18,2,0,0,0,1,0.0,0,1936.0,...,23,0,1.0,0,2,1.0,1,0,0,1
2992,3,12,2,0,0,0,1,0.0,0,804.0,...,38,0,0.0,1,1,2.0,1,0,0,1
2993,1,45,4,0,1,0,0,0.0,0,4576.0,...,27,0,0.0,1,1,2.0,1,0,0,1

70 rows removed.

In [16]:
train['INSTALL_RATE'].value_counts().to_dict()

{3: 1076, 2: 761, 4: 540, 1: 475, 0: 69}

In [17]:
test['INSTALL_RATE'].value_counts().to_dict()

{3: 373, 2: 275, 4: 177, 1: 175}

No instance of 0 installment rate in test set. Drop?

In [18]:
train = train[(train['INSTALL_RATE'] != 0)]
train

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
0,3,16,2,0,0,0,0,0.0,1,3226.0,...,41,0,0.0,1,1,2.0,1,0,0,1
1,1,13,4,0,0,0,0,0.0,0,3158.0,...,42,0,0.0,0,1,2.0,1,1,0,1
2,1,16,2,1,0,0,0,0.0,0,1269.0,...,23,1,0.0,1,1,2.0,1,0,0,1
4,0,16,2,1,0,0,0,0.0,0,5908.0,...,34,0,1.0,1,1,2.0,2,1,0,1
5,1,17,2,0,0,0,1,0.0,0,742.0,...,31,0,1.0,1,1,2.0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,3,13,2,0,0,0,1,0.0,0,1409.0,...,64,0,0.0,1,1,2.0,1,0,0,1
2989,3,15,1,0,0,0,1,0.0,0,1569.0,...,34,1,0.0,1,1,1.0,2,0,0,1
2990,0,18,2,0,0,0,1,0.0,0,1936.0,...,23,0,1.0,0,2,1.0,1,0,0,1
2992,3,12,2,0,0,0,1,0.0,0,804.0,...,38,0,0.0,1,1,2.0,1,0,0,1
2993,1,45,4,0,1,0,0,0.0,0,4576.0,...,27,0,0.0,1,1,2.0,1,0,0,1

In [19]:
train['AGE'].value_counts().to_dict()

{23: 137,
 27: 132,
 28: 125,
 24: 121,
 25: 119,
 26: 114,
 33: 110,
 37: 99,
 35: 97,
 34: 94,
 31: 91,
 32: 91,
 30: 87,
 36: 86,
 22: 84,
 38: 81,
 29: 78,
 39: 75,
 40: 68,
 42: 68,
 43: 55,
 21: 53,
 44: 51,
 41: 49,
 49: 43,
 46: 40,
 20: 39,
 45: 38,
 48: 37,
 47: 37,
 50: 29,
 999: 28,
 51: 27,
 57: 25,
 52: 25,
 55: 23,
 53: 23,
 66: 21,
 54: 21,
 61: 21,
 58: 21,
 19: 19,
 59: 17,
 64: 16,
 56: 16,
 18: 14,
 62: 14,
 63: 13,
 60: 12,
 67: 9,
 65: 8,
 70: 8,
 68: 7,
 72: 6,
 69: 6,
 17: 5,
 74: 5,
 16: 4,
 71: 2,
 77: 2,
 76: 2,
 14: 1,
 78: 1,
 73: 1,
 75: 1}

Age of 999 seems unreasonable, hence I remove the 27 rows.

In [20]:
train = train[train['AGE'] != 999]
#train['AGE'] = normalize(train['AGE'])
train

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
0,3,16,2,0,0,0,0,0.0,1,3226.0,...,41,0,0.0,1,1,2.0,1,0,0,1
1,1,13,4,0,0,0,0,0.0,0,3158.0,...,42,0,0.0,0,1,2.0,1,1,0,1
2,1,16,2,1,0,0,0,0.0,0,1269.0,...,23,1,0.0,1,1,2.0,1,0,0,1
4,0,16,2,1,0,0,0,0.0,0,5908.0,...,34,0,1.0,1,1,2.0,2,1,0,1
5,1,17,2,0,0,0,1,0.0,0,742.0,...,31,0,1.0,1,1,2.0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,3,13,2,0,0,0,1,0.0,0,1409.0,...,64,0,0.0,1,1,2.0,1,0,0,1
2989,3,15,1,0,0,0,1,0.0,0,1569.0,...,34,1,0.0,1,1,1.0,2,0,0,1
2990,0,18,2,0,0,0,1,0.0,0,1936.0,...,23,0,1.0,0,2,1.0,1,0,0,1
2992,3,12,2,0,0,0,1,0.0,0,804.0,...,38,0,0.0,1,1,2.0,1,0,0,1
2993,1,45,4,0,1,0,0,0.0,0,4576.0,...,27,0,0.0,1,1,2.0,1,0,0,1

In [21]:
train['NUM_CREDITS'].value_counts().to_dict()

{1: 2272, 2: 475, 3: 73, 4: 4}

In [22]:
test['NUM_CREDITS'].value_counts().to_dict()

{1: 863, 2: 128, 3: 8, 4: 1}

Number of credits looks okay.

In [23]:
train['NUM_DEPENDENTS'].value_counts().to_dict()

{1: 2367, 2: 457}

In [24]:
test['NUM_DEPENDENTS'].value_counts().to_dict()

{1: 891, 2: 109}

Number of dependents looks okay.

## Inspecting categorical columns : Is the data corroborative?

There are 3 columns regarding the marital status of the applicant
- Sum of these 3 columns cannot be more than 1. Sum of more than 1 indicates problematic responses (should be either one of 3 marital statuses) -> person may have misinterpreted single being same as divorced. in this case we change the 1 in single to 0

In [25]:
train[train['MALE_DIV'] + train['MALE_SINGLE'] + train['MALE_MAR_or_WID'] == 3]

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
70,1,32,4,0,1,1,0,0.0,0,7709.0,...,30,0,0.0,1,2,3.0,1,1,0,0
106,0,21,4,0,0,0,1,0.0,0,5004.0,...,48,0,0.0,1,1,3.0,1,1,0,0
1242,3,12,2,1,1,0,1,0.0,0,2623.0,...,24,0,1.0,1,1,2.0,1,1,0,1
1628,0,33,0,0,0,0,0,0.0,1,6657.0,...,26,0,0.0,1,1,3.0,2,1,0,0
2049,3,24,2,0,0,0,0,0.0,0,877.0,...,22,0,0.0,1,1,1.0,1,1,0,1

In [26]:
test[test['MALE_DIV'] + test['MALE_MAR_or_WID'] + test['MALE_SINGLE'] == 3]

Empty DataFrame
Columns: [CHK_ACCT, DURATION, HISTORY, NEW_CAR, USED_CAR, FURNITURE, RADIO_TV, EDUCATION, RETRAINING, AMOUNT, SAV_ACCT, EMPLOYMENT, INSTALL_RATE, MALE_DIV, MALE_SINGLE, MALE_MAR_or_WID, CO_APPLICANT, GUARANTOR, PRESENT_RESIDENT, REAL_ESTATE, PROP_UNKN_NONE, AGE, OTHER_INSTALL, RENT, OWN_RES, NUM_CREDITS, JOB, NUM_DEPENDENTS, TELEPHONE, FOREIGN]
Index: []

[0 rows x 30 columns]

Hard to ascertain what their status is, or explain why these people have indicated 'Yes' to all 3 options. So we drop these 5 rows

No such instances in the test set as well. Drop.

In [27]:
train = train.drop(train[train['MALE_DIV'] + train['MALE_SINGLE'] + train['MALE_MAR_or_WID'] == 3].index)
train

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
0,3,16,2,0,0,0,0,0.0,1,3226.0,...,41,0,0.0,1,1,2.0,1,0,0,1
1,1,13,4,0,0,0,0,0.0,0,3158.0,...,42,0,0.0,0,1,2.0,1,1,0,1
2,1,16,2,1,0,0,0,0.0,0,1269.0,...,23,1,0.0,1,1,2.0,1,0,0,1
4,0,16,2,1,0,0,0,0.0,0,5908.0,...,34,0,1.0,1,1,2.0,2,1,0,1
5,1,17,2,0,0,0,1,0.0,0,742.0,...,31,0,1.0,1,1,2.0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,3,13,2,0,0,0,1,0.0,0,1409.0,...,64,0,0.0,1,1,2.0,1,0,0,1
2989,3,15,1,0,0,0,1,0.0,0,1569.0,...,34,1,0.0,1,1,1.0,2,0,0,1
2990,0,18,2,0,0,0,1,0.0,0,1936.0,...,23,0,1.0,0,2,1.0,1,0,0,1
2992,3,12,2,0,0,0,1,0.0,0,804.0,...,38,0,0.0,1,1,2.0,1,0,0,1
2993,1,45,4,0,1,0,0,0.0,0,4576.0,...,27,0,0.0,1,1,2.0,1,0,0,1

Combinations for score of 2 : 
1. Single + Divorced 
2. Single + Married / Widowed
3. Divorced + Married / widowed

Person might have misunderstood 'Single' if he indicated 1 for both Divorced and Single variable. Hence I might have to change the input for Single to 0 for these instances

In [28]:
train[train['MALE_DIV'] + train['MALE_SINGLE'] ==2 ]

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
40,3,14,4,0,0,0,0,0.0,0,6603.0,...,23,0,0.0,1,1,2.0,1,1,0,1
77,0,22,3,0,0,0,0,0.0,0,4256.0,...,44,0,0.0,1,1,1.0,1,0,0,1
156,0,9,4,1,0,0,0,0.0,0,2866.0,...,55,1,0.0,0,1,2.0,2,1,0,1
192,3,27,4,0,0,1,0,0.0,0,7115.0,...,32,0,0.0,1,1,2.0,1,1,0,1
229,0,25,2,0,0,0,0,0.0,0,2723.0,...,31,0,0.0,1,1,2.0,1,1,0,1
270,2,16,3,0,0,0,0,0.0,0,11717.0,...,34,0,1.0,0,1,1.0,1,0,0,0
298,1,37,2,1,1,0,1,0.0,0,6649.0,...,38,0,0.0,0,1,2.0,1,0,0,0
299,1,10,4,0,0,0,0,0.0,0,1563.0,...,23,1,0.0,1,1,1.0,1,0,0,1
322,2,23,2,1,0,1,0,0.0,0,5080.0,...,34,0,0.0,1,1,1.0,2,1,0,1
338,0,20,2,0,0,1,0,0.0,0,557.0,...,34,0,0.0,1,1,3.0,1,0,0,1
441,0,9,2,1,0,0,1,0.0,0,1064.0,...,24,0,0.0,1,1,2.0,1,0,0,0
505,1,9,2,0,0,0,0,0.0,0,1094.0,...,24,0,0.0,1,1,2.0,1,1,1,0
631,0,7,2,0,0,0,0,0.0,0,911.0,...,69,0,0.0,1,1,2.0,1,1,0,1
666,1,51,0,0,0,1,0,0.0,0,2282.0,...,38,1,0.0,1,1,3.0,1,1,0,1
711,3,23,4,0,0,0,0,0.0,1,5731.0,...,33,0,0.0,1,2,2.0,1,1,0,1
974,1,15,4,0,0,0,0,1.0,0,722.0,...,30,0,0.0,1,1,2.0,1,0,0,1
1039,0,22,0,1,0,1,0,0.0,0,6495.0,...,37,0,0.0,1,1,3.0,2,1,0,1
1111,3,25,0,0,0,0,0,0.0,0,16998.0,...,72,0,0.0,1,2,2.0,1,0,0,1
1165,2,11,3,0,0,0,1,0.0,0,611.0,...,56,0,0.0,1,1,2.0,1,0,0,1
1198,3,12,2,1,1,0,1,0.0,1,5886.0,...,42,0,1.0,1,2,2.0,2,0,0,1
1222,1,12,3,0,0,0,0,0.0,1,9189.0,...,40,0,0.0,1,2,2.0,2,0,0,0
1326,1,21,4,1,0,0,0,0.0,0,2791.0,...,28,0,0.0,1,1,2.0,1,1,0,1
1355,0,8,2,0,0,1,0,0.0,0,3519.0,...,43,0,1.0,0,1,0.0,1,1,0,1
1417,3,40,2,0,0,0,1,0.0,0,3357.0,...,30,1,0.0,1,1,2.0,1,0,0,0
1568,1,11,4,0,1,0,0,0.0,0,8580.0,...,34,0,0.0,0,1,2.0,1,1,0,0
1595,3,23,4,0,0,0,0,0.0,1,11252.0,...,30,0,0.0,1,1,2.0,1,0,0,1
1646,1,12,4,0,0,0,0,0.0,0,6409.0,...,25,0,0.0,1,1,2.0,1,1,0,1
2013,3,24,4,0,0,0,0,0.0,0,3928.0,...,31,0,0.0,1,2,2.0,1,1,0,1
2025,3,1,2,0,0,0,0,0.0,0,3430.0,...,38,0,0.0,1,1,2.0,1,0,0,1
2122,3,7,4,0,0,0,1,0.0,0,1262.0,...,40,0,0.0,1,1,1.0,1,0,0,1
2230,3,6,2,0,0,0,1,0.0,0,1075.0,...,32,0,0.0,1,1,2.0,1,0,0,1
2245,0,14,4,0,0,0,0,0.0,0,1182.0,...,36,0,0.0,0,1,3.0,1,0,0,0
2260,3,23,4,0,0,0,0,0.0,1,721.0,...,28,0,0.0,1,1,2.0,1,0,0,1

In [29]:
test[test['MALE_DIV'] + test['MALE_SINGLE'] == 2]

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,PROP_UNKN_NONE,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN
142,1,8,2,0,0,0,0,0,0,3549,...,0,41,1,1,1,1,2,1,0,0
388,3,10,2,0,0,0,1,0,0,2366,...,0,40,0,0,1,1,2,1,0,0
451,0,40,4,0,0,0,1,0,0,2617,...,0,36,0,0,1,1,2,1,1,0
489,3,5,0,0,0,1,0,0,0,5850,...,0,37,0,0,1,1,1,1,0,0
508,3,12,2,0,0,1,0,0,0,4348,...,0,43,0,1,0,1,2,2,0,0
682,1,8,2,0,0,0,0,0,0,1439,...,0,42,0,0,1,2,2,1,0,0
686,3,50,4,0,0,0,0,0,0,2095,...,0,35,0,0,1,1,1,2,0,1
850,1,21,4,0,0,0,0,0,0,3065,...,1,41,0,0,1,1,2,1,1,0
878,3,23,4,0,0,0,0,0,0,676,...,0,33,1,0,1,1,1,2,0,0
937,1,13,3,0,0,1,0,0,0,5816,...,0,47,1,0,1,2,1,1,0,0
944,1,35,4,0,0,0,0,0,0,8818,...,0,46,0,0,1,1,2,2,1,0

But there are 11 such isntances in test set. Don't drop or change.

In [30]:
for index in train[train['MALE_DIV'] + train['MALE_SINGLE'] ==2 ].index :
    train.loc[index,'MALE_SINGLE'] = 0

Single + Married / Widowed :
- Likely scenario is similar to that of Single + Divorce, where a widowed person misunderstood single. Hence I make the same changes as before

In [31]:
train[train['MALE_MAR_or_WID'] + train['MALE_SINGLE'] ==2 ]

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
135,0,18,4,0,0,1,0,0.0,0,9626.0,...,25,1,0.0,0,2,2.0,2,0,0,1
142,0,43,3,1,0,0,0,0.0,0,16554.0,...,44,0,0.0,1,1,2.0,1,1,0,0
340,3,7,3,0,0,0,0,0.0,0,2338.0,...,63,0,0.0,1,1,2.0,1,1,0,1
357,3,10,2,1,0,0,0,0.0,0,2448.0,...,33,0,0.0,1,1,2.0,1,1,0,1
378,0,5,2,0,0,1,0,0.0,0,1329.0,...,35,0,1.0,0,1,2.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087,0,38,1,0,0,1,1,0.0,0,5791.0,...,37,0,1.0,0,1,1.0,1,0,0,1
2158,0,21,2,0,0,1,0,0.0,0,6428.0,...,33,0,0.0,1,1,1.0,1,0,0,0
2213,1,5,3,0,0,0,0,0.0,0,3294.0,...,28,0,1.0,1,1,2.0,2,0,0,1
2242,0,13,4,0,0,1,0,0.0,0,10027.0,...,23,0,0.0,0,2,1.0,1,1,0,1
2264,0,33,2,1,0,1,1,0.0,0,1441.0,...,31,0,0.0,1,1,2.0,1,0,0,1

In [32]:
test[test['MALE_MAR_or_WID'] + test['MALE_SINGLE'] == 2]

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,PROP_UNKN_NONE,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN
25,0,41,0,0,0,0,0,0,0,9516,...,0,31,0,0,0,1,2,1,1,0
146,1,20,4,1,0,0,0,0,0,1212,...,0,60,0,0,1,1,1,1,0,0
149,3,56,4,0,0,0,0,0,0,2312,...,0,39,0,0,0,1,3,2,0,0
157,3,7,4,0,0,0,1,0,0,6795,...,0,44,0,0,1,1,1,1,0,0
277,3,23,4,1,0,0,0,0,0,426,...,0,23,0,0,1,1,2,1,0,1
423,3,54,2,0,0,0,0,0,0,2931,...,0,40,0,0,1,2,2,1,1,0
471,3,16,4,0,0,0,0,0,1,846,...,0,43,0,0,1,1,1,2,0,0
685,3,16,2,0,0,0,0,0,0,1566,...,0,32,1,0,0,1,1,1,0,0
692,0,27,2,0,0,0,1,0,0,892,...,0,40,0,0,1,1,2,1,0,0
709,0,12,2,0,0,0,0,0,0,6447,...,0,25,0,0,1,1,2,1,0,0
723,1,18,2,0,0,0,0,0,1,5079,...,0,34,0,0,1,1,2,1,1,0
893,0,6,2,0,0,0,1,0,0,2546,...,0,36,0,0,1,1,2,1,0,0
969,3,23,1,0,0,0,0,0,0,3755,...,0,44,0,0,1,1,1,1,1,0
975,3,13,4,0,0,0,1,0,0,3943,...,0,55,1,0,1,1,2,1,0,0
981,3,8,4,1,0,0,0,0,0,1613,...,0,37,0,1,0,1,1,1,0,0

Again, 15 such instances in the dataset. Don't drop or change

In [33]:
for index in train[train['MALE_MAR_or_WID'] + train['MALE_SINGLE'] ==2].index :
    train.loc[index,'MALE_SINGLE'] = 0

Lastly, 'Widowed' vs 'Divorced' is hard to ascertain so I remove these rows.

In [34]:
train[train['MALE_DIV'] + train['MALE_MAR_or_WID'] ==2]

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
102,3,18,2,0,0,1,0,0.0,0,1011.0,...,21,0,0.0,0,1,2.0,1,0,0,1
791,3,17,1,1,0,1,1,0.0,0,1564.0,...,21,1,1.0,1,1,2.0,1,1,0,1
1239,3,32,2,0,0,0,0,0.0,0,3528.0,...,43,0,1.0,0,1,1.0,1,0,0,0
1539,3,12,2,0,0,0,1,0.0,0,1564.0,...,40,1,0.0,1,1,2.0,1,0,0,1
1669,3,23,2,0,0,0,0,0.0,0,1866.0,...,23,0,1.0,0,1,2.0,1,1,0,1
2080,3,14,4,0,0,1,0,0.0,0,3019.0,...,45,0,0.0,1,1,1.0,1,1,0,1
2261,0,15,3,0,0,0,0,0.0,0,984.0,...,43,0,0.0,1,1,2.0,1,0,0,1

In [35]:
test[test['MALE_DIV'] + test['MALE_MAR_or_WID'] == 2]

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,PROP_UNKN_NONE,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN
117,3,11,4,0,0,0,1,0,0,1991,...,0,41,0,0,1,1,2,1,1,0

1 such instance in test set. Hence should be safe to drop.

In [36]:
train = train.drop(train[train['MALE_DIV'] + train['MALE_MAR_or_WID'] ==2].index)
train

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
0,3,16,2,0,0,0,0,0.0,1,3226.0,...,41,0,0.0,1,1,2.0,1,0,0,1
1,1,13,4,0,0,0,0,0.0,0,3158.0,...,42,0,0.0,0,1,2.0,1,1,0,1
2,1,16,2,1,0,0,0,0.0,0,1269.0,...,23,1,0.0,1,1,2.0,1,0,0,1
4,0,16,2,1,0,0,0,0.0,0,5908.0,...,34,0,1.0,1,1,2.0,2,1,0,1
5,1,17,2,0,0,0,1,0.0,0,742.0,...,31,0,1.0,1,1,2.0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988,3,13,2,0,0,0,1,0.0,0,1409.0,...,64,0,0.0,1,1,2.0,1,0,0,1
2989,3,15,1,0,0,0,1,0.0,0,1569.0,...,34,1,0.0,1,1,1.0,2,0,0,1
2990,0,18,2,0,0,0,1,0.0,0,1936.0,...,23,0,1.0,0,2,1.0,1,0,0,1
2992,3,12,2,0,0,0,1,0.0,0,804.0,...,38,0,0.0,1,1,2.0,1,0,0,1
2993,1,45,4,0,1,0,0,0.0,0,4576.0,...,27,0,0.0,1,1,2.0,1,0,0,1

There are also 2 columns regarding the applicant's home : Whether he/she rents and whether he/she owns a residence.

Hence the only combination which would not make sense if the applicant replies yes to both

In [37]:
test[test['RENT'] + test['OWN_RES'] == 2]

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,PROP_UNKN_NONE,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN
77,1,41,2,0,0,1,1,0,0,5141,...,0,22,0,1,1,1,3,1,1,0
132,3,14,2,0,0,1,0,0,0,1393,...,1,36,0,1,1,1,1,1,1,0
142,1,8,2,0,0,0,0,0,0,3549,...,0,41,1,1,1,1,2,1,0,0
268,3,12,2,0,0,0,1,0,0,3108,...,0,25,0,1,1,1,2,1,1,0
308,0,6,2,0,1,1,1,0,0,1703,...,0,44,0,1,1,1,1,1,1,0
339,0,23,2,0,0,0,1,0,0,2401,...,0,26,0,1,1,1,2,1,0,0
383,3,24,2,1,0,0,1,0,1,6824,...,0,42,1,1,1,1,1,1,0,0
406,1,9,2,1,0,0,0,0,0,2975,...,0,44,0,1,1,1,1,1,0,0
418,0,23,2,0,0,1,0,0,0,1031,...,0,22,0,1,1,1,1,1,0,0
436,1,25,2,0,0,1,1,0,0,3958,...,1,29,0,1,1,1,3,1,1,0
449,0,24,2,0,0,0,0,0,0,5359,...,0,28,0,1,1,1,2,1,1,0
483,3,35,2,0,0,1,0,1,0,1324,...,0,21,0,1,1,1,2,2,0,0
517,1,15,2,0,0,0,0,0,0,3254,...,0,23,0,1,1,1,2,1,0,0
549,0,30,4,0,0,0,0,0,0,5507,...,1,25,0,1,1,1,2,1,1,0
714,0,14,4,1,0,1,0,0,0,2872,...,0,20,0,1,1,1,2,1,1,0
741,3,14,2,0,0,0,0,0,0,1671,...,0,24,0,1,1,1,1,1,0,0
767,0,11,2,0,0,0,0,0,0,5197,...,0,22,0,1,1,1,2,2,0,1
784,3,27,0,0,0,0,1,0,0,2024,...,0,23,0,1,1,2,2,1,0,0
816,1,24,3,0,0,1,0,0,0,9049,...,0,42,0,1,1,1,1,1,1,0
882,2,12,4,0,1,0,1,0,0,6160,...,0,33,0,1,1,1,2,1,0,0
885,3,22,4,0,0,0,1,0,0,547,...,0,29,0,1,1,1,1,1,0,0
930,1,20,2,0,0,0,0,0,0,1737,...,0,38,0,1,1,1,2,1,1,0
947,0,28,2,0,0,0,0,0,0,3828,...,0,24,0,1,1,1,2,1,0,0
993,0,16,1,0,0,1,0,0,0,12337,...,0,35,0,1,1,1,2,1,0,0

But there are 24 instances in the test set. Don't drop

In [38]:
train = train[train['RENT'] + train['OWN_RES'] != 2]
train = train.reset_index(drop=True)
train

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
0,3,16,2,0,0,0,0,0.0,1,3226.0,...,41,0,0.0,1,1,2.0,1,0,0,1
1,1,13,4,0,0,0,0,0.0,0,3158.0,...,42,0,0.0,0,1,2.0,1,1,0,1
2,1,16,2,1,0,0,0,0.0,0,1269.0,...,23,1,0.0,1,1,2.0,1,0,0,1
3,3,9,4,0,0,0,0,0.0,0,3801.0,...,37,0,0.0,1,1,2.0,1,0,0,1
4,3,6,4,0,0,0,1,0.0,0,4084.0,...,38,0,0.0,1,1,2.0,2,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2683,3,13,2,0,0,0,1,0.0,0,1409.0,...,64,0,0.0,1,1,2.0,1,0,0,1
2684,3,15,1,0,0,0,1,0.0,0,1569.0,...,34,1,0.0,1,1,1.0,2,0,0,1
2685,0,18,2,0,0,0,1,0.0,0,1936.0,...,23,0,1.0,0,2,1.0,1,0,0,1
2686,3,12,2,0,0,0,1,0.0,0,804.0,...,38,0,0.0,1,1,2.0,1,0,0,1
2687,1,45,4,0,1,0,0,0.0,0,4576.0,...,27,0,0.0,1,1,2.0,1,0,0,1

# Split into training and validation data

In [39]:
X = train.iloc[:,0:30]
y = train.iloc[:,30]

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [41]:
len(X_train), len(X_test), len(y_train), len(y_test)

(2150, 538, 2150, 538)

# Logistic Regression

In [42]:
all_predictors = "+".join(X_train.columns)
print(all_predictors)

CHK_ACCT+DURATION+HISTORY+NEW_CAR+USED_CAR+FURNITURE+RADIO_TV+EDUCATION+RETRAINING+AMOUNT+SAV_ACCT+EMPLOYMENT+INSTALL_RATE+MALE_DIV+MALE_SINGLE+MALE_MAR_or_WID+CO_APPLICANT+GUARANTOR+PRESENT_RESIDENT+REAL_ESTATE+PROP_UNKN_NONE+AGE+OTHER_INSTALL+RENT+OWN_RES+NUM_CREDITS+JOB+NUM_DEPENDENTS+TELEPHONE+FOREIGN

In [113]:
pd.concat([X_train, y_train], axis = 1)

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO_TV,EDUCATION,RETRAINING,AMOUNT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,RESPONSE
610,3,18,3,0,0,1,0,1.0,0,2043.0,...,34,0,0.0,1,1,1.0,1,1,0,1
2004,0,24,2,0,0,1,0,0.0,0,4020.0,...,27,1,0.0,1,1,2.0,1,0,0,1
1406,1,5,4,1,0,0,0,0.0,0,1425.0,...,35,0,0.0,0,1,1.0,2,0,0,0
1213,3,10,4,1,0,0,1,0.0,0,450.0,...,46,0,0.0,1,1,2.0,2,0,0,1
57,3,16,0,1,0,0,0,0.0,0,985.0,...,27,0,0.0,1,1,2.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638,2,11,2,1,0,0,0,0.0,0,587.0,...,43,0,0.0,0,1,1.0,1,0,0,1
1095,3,23,3,0,0,0,1,0.0,0,1100.0,...,22,0,0.0,1,1,1.0,1,0,0,1
1130,1,7,2,0,0,0,0,0.0,0,3990.0,...,25,0,0.0,1,1,1.0,1,1,0,0
1294,3,9,4,1,0,0,0,0.0,0,1047.0,...,31,0,0.0,1,2,2.0,2,0,0,1
860,3,6,2,1,0,0,0,0.0,0,4126.0,...,35,0,0.0,1,1,2.0,1,1,0,1

In [43]:
f = 'RESPONSE ~ '+all_predictors
train_data = pd.concat([X_train, y_train], axis = 1)
logitfit = smf.logit(formula = f, data = train_data).fit()
print(logitfit.summary())

Optimization terminated successfully.
         Current function value: 0.543203
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2119
Method:                           MLE   Df Model:                           30
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1223
Time:                        09:33:49   Log-Likelihood:                -1167.9
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 2.326e-51
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.6655      0.399     -1.670      0.095      -1.447       0.116
CHK_ACCT             0.2244      0.042      5.373      0.000       0.143       0.306
DURATION            -0.0114      0.005     -2.512      0.012      -0.020      -0.002
HISTORY              0.2174      0.049      4.427      0.000       0.121       0.314
NEW_CAR             -0.0242      0.122     -0.199      0.842      -0.263       0.214
USED_CAR             0.6191      0.179      3.451      0.001       0.268       0.971
FURNITURE         7.067e-05      0.134      0.001      1.000      -0.262       0.262
RADIO_TV             0.4599      0.131      3.513      0.000       0.203       0.716
EDUCATION           -0.0511      0.228     -0.224      0.822      -0.497       0.395
RETRAINING           0.2341      0.177      1.326      0.185      -0.112       0.580
AMOUNT           -6.372e-05   1.87e-05     -3.416      0.001      -0.000   -2.72e-05
SAV_ACCT             0.1062      0.034      3.113      0.002       0.039       0.173
EMPLOYMENT           0.1955      0.044      4.489      0.000       0.110       0.281
INSTALL_RATE        -0.1459      0.055     -2.643      0.008      -0.254      -0.038
MALE_DIV             0.1706      0.262      0.650      0.516      -0.344       0.685
MALE_SINGLE          0.3344      0.120      2.782      0.005       0.099       0.570
MALE_MAR_or_WID      0.1732      0.179      0.966      0.334      -0.178       0.525
CO_APPLICANT        -0.1218      0.248     -0.492      0.623      -0.607       0.363
GUARANTOR            0.4976      0.249      2.002      0.045       0.010       0.985
PRESENT_RESIDENT    -0.0572      0.048     -1.179      0.238      -0.152       0.038
REAL_ESTATE          0.3742      0.129      2.904      0.004       0.122       0.627
PROP_UNKN_NONE      -0.3116      0.153     -2.043      0.041      -0.611      -0.013
AGE                  0.0179      0.005      3.720      0.000       0.008       0.027
OTHER_INSTALL       -0.3499      0.128     -2.744      0.006      -0.600      -0.100
RENT                -0.0536      0.182     -0.294      0.769      -0.411       0.304
OWN_RES              0.4002      0.154      2.597      0.009       0.098       0.702
NUM_CREDITS          0.0936      0.116      0.804      0.421      -0.134       0.322
JOB                 -0.1070      0.079     -1.353      0.176      -0.262       0.048
NUM_DEPENDENTS      -0.1484      0.142     -1.048      0.295      -0.426       0.129
TELEPHONE            0.1507      0.113      1.338      0.181      -0.070       0.372
FOREIGN              0.4429      0.339      1.306      0.192      -0.222       1.107
====================================================================================

## Removing high p value variables

In [44]:
droplist = ['RESPONSE']

def remove_name_formula(toremove):
    print(type(toremove))
    global droplist
    droplist = droplist+toremove
    newdf = train_data.drop(droplist,axis=1)
    predictors = "+".join(newdf.columns)
    f = 'RESPONSE ~ '+predictors
    return f

In [45]:
newf = remove_name_formula(['NEW_CAR'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.543212
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2120
Method:                           MLE   Df Model:                           29
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1223
Time:                        09:34:04   Log-Likelihood:                -1167.9
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 6.986e-52
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.6775      0.394     -1.720      0.086      -1.450       0.095
CHK_ACCT             0.2249      0.042      5.396      0.000       0.143       0.307
DURATION            -0.0113      0.005     -2.505      0.012      -0.020      -0.002
HISTORY              0.2175      0.049      4.430      0.000       0.121       0.314
USED_CAR             0.6219      0.179      3.477      0.001       0.271       0.972
FURNITURE            0.0034      0.133      0.026      0.979      -0.256       0.263
RADIO_TV             0.4643      0.129      3.599      0.000       0.211       0.717
EDUCATION           -0.0480      0.227     -0.211      0.833      -0.493       0.397
RETRAINING           0.2378      0.176      1.354      0.176      -0.106       0.582
AMOUNT           -6.359e-05   1.86e-05     -3.411      0.001      -0.000   -2.71e-05
SAV_ACCT             0.1060      0.034      3.109      0.002       0.039       0.173
EMPLOYMENT           0.1957      0.044      4.495      0.000       0.110       0.281
INSTALL_RATE        -0.1461      0.055     -2.646      0.008      -0.254      -0.038
MALE_DIV             0.1724      0.262      0.657      0.511      -0.342       0.687
MALE_SINGLE          0.3350      0.120      2.788      0.005       0.099       0.571
MALE_MAR_or_WID      0.1738      0.179      0.970      0.332      -0.178       0.525
CO_APPLICANT        -0.1229      0.247     -0.497      0.619      -0.608       0.362
GUARANTOR            0.4963      0.248      1.998      0.046       0.009       0.983
PRESENT_RESIDENT    -0.0571      0.048     -1.177      0.239      -0.152       0.038
REAL_ESTATE          0.3740      0.129      2.902      0.004       0.121       0.626
PROP_UNKN_NONE      -0.3128      0.152     -2.053      0.040      -0.612      -0.014
AGE                  0.0178      0.005      3.716      0.000       0.008       0.027
OTHER_INSTALL       -0.3495      0.128     -2.741      0.006      -0.599      -0.100
RENT                -0.0520      0.182     -0.286      0.775      -0.409       0.305
OWN_RES              0.4016      0.154      2.608      0.009       0.100       0.703
NUM_CREDITS          0.0940      0.116      0.808      0.419      -0.134       0.322
JOB                 -0.1066      0.079     -1.348      0.178      -0.261       0.048
NUM_DEPENDENTS      -0.1498      0.141     -1.058      0.290      -0.427       0.128
TELEPHONE            0.1514      0.113      1.345      0.179      -0.069       0.372
FOREIGN              0.4408      0.339      1.300      0.194      -0.224       1.105
====================================================================================

In [46]:
newf = remove_name_formula(['FURNITURE'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.543213
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2121
Method:                           MLE   Df Model:                           28
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1223
Time:                        09:34:13   Log-Likelihood:                -1167.9
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 2.024e-52
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.6759      0.389     -1.737      0.082      -1.438       0.087
CHK_ACCT             0.2249      0.042      5.396      0.000       0.143       0.307
DURATION            -0.0113      0.005     -2.505      0.012      -0.020      -0.002
HISTORY              0.2175      0.049      4.430      0.000       0.121       0.314
USED_CAR             0.6216      0.178      3.484      0.000       0.272       0.971
RADIO_TV             0.4640      0.128      3.613      0.000       0.212       0.716
EDUCATION           -0.0482      0.227     -0.212      0.832      -0.493       0.397
RETRAINING           0.2377      0.176      1.354      0.176      -0.106       0.582
AMOUNT           -6.359e-05   1.86e-05     -3.412      0.001      -0.000   -2.71e-05
SAV_ACCT             0.1060      0.034      3.109      0.002       0.039       0.173
EMPLOYMENT           0.1957      0.043      4.498      0.000       0.110       0.281
INSTALL_RATE        -0.1461      0.055     -2.647      0.008      -0.254      -0.038
MALE_DIV             0.1724      0.262      0.657      0.511      -0.342       0.687
MALE_SINGLE          0.3347      0.120      2.796      0.005       0.100       0.569
MALE_MAR_or_WID      0.1736      0.179      0.969      0.332      -0.177       0.525
CO_APPLICANT        -0.1229      0.247     -0.497      0.619      -0.608       0.362
GUARANTOR            0.4960      0.248      1.999      0.046       0.010       0.982
PRESENT_RESIDENT    -0.0571      0.048     -1.177      0.239      -0.152       0.038
REAL_ESTATE          0.3738      0.129      2.903      0.004       0.121       0.626
PROP_UNKN_NONE      -0.3130      0.152     -2.057      0.040      -0.611      -0.015
AGE                  0.0178      0.005      3.717      0.000       0.008       0.027
OTHER_INSTALL       -0.3495      0.127     -2.741      0.006      -0.599      -0.100
RENT                -0.0520      0.182     -0.285      0.775      -0.409       0.305
OWN_RES              0.4014      0.154      2.610      0.009       0.100       0.703
NUM_CREDITS          0.0939      0.116      0.808      0.419      -0.134       0.322
JOB                 -0.1065      0.079     -1.348      0.178      -0.261       0.048
NUM_DEPENDENTS      -0.1498      0.141     -1.059      0.290      -0.427       0.128
TELEPHONE            0.1514      0.113      1.344      0.179      -0.069       0.372
FOREIGN              0.4411      0.339      1.301      0.193      -0.223       1.105
====================================================================================

In [47]:
newf = remove_name_formula(['EDUCATION'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.543223
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2122
Method:                           MLE   Df Model:                           27
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1223
Time:                        09:34:25   Log-Likelihood:                -1167.9
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 5.878e-53
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.6754      0.389     -1.736      0.083      -1.438       0.087
CHK_ACCT             0.2248      0.042      5.395      0.000       0.143       0.307
DURATION            -0.0113      0.005     -2.510      0.012      -0.020      -0.002
HISTORY              0.2173      0.049      4.426      0.000       0.121       0.313
USED_CAR             0.6220      0.178      3.486      0.000       0.272       0.972
RADIO_TV             0.4658      0.128      3.635      0.000       0.215       0.717
RETRAINING           0.2387      0.175      1.361      0.174      -0.105       0.583
AMOUNT           -6.346e-05   1.86e-05     -3.406      0.001     -0.0001   -2.69e-05
SAV_ACCT             0.1062      0.034      3.118      0.002       0.039       0.173
EMPLOYMENT           0.1956      0.043      4.497      0.000       0.110       0.281
INSTALL_RATE        -0.1470      0.055     -2.670      0.008      -0.255      -0.039
MALE_DIV             0.1722      0.262      0.656      0.512      -0.342       0.686
MALE_SINGLE          0.3353      0.120      2.802      0.005       0.101       0.570
MALE_MAR_or_WID      0.1737      0.179      0.970      0.332      -0.177       0.525
CO_APPLICANT        -0.1222      0.247     -0.494      0.621      -0.607       0.363
GUARANTOR            0.4981      0.248      2.009      0.045       0.012       0.984
PRESENT_RESIDENT    -0.0574      0.048     -1.186      0.236      -0.152       0.038
REAL_ESTATE          0.3749      0.129      2.913      0.004       0.123       0.627
PROP_UNKN_NONE      -0.3154      0.152     -2.079      0.038      -0.613      -0.018
AGE                  0.0178      0.005      3.716      0.000       0.008       0.027
OTHER_INSTALL       -0.3513      0.127     -2.762      0.006      -0.601      -0.102
RENT                -0.0512      0.182     -0.281      0.778      -0.408       0.306
OWN_RES              0.4026      0.154      2.620      0.009       0.101       0.704
NUM_CREDITS          0.0942      0.116      0.810      0.418      -0.134       0.322
JOB                 -0.1066      0.079     -1.349      0.177      -0.261       0.048
NUM_DEPENDENTS      -0.1504      0.141     -1.063      0.288      -0.428       0.127
TELEPHONE            0.1520      0.113      1.350      0.177      -0.069       0.373
FOREIGN              0.4427      0.339      1.307      0.191      -0.221       1.107
====================================================================================

In [48]:
newf = remove_name_formula(['RENT'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.543241
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2123
Method:                           MLE   Df Model:                           26
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1223
Time:                        09:34:40   Log-Likelihood:                -1168.0
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 1.701e-53
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.7170      0.360     -1.992      0.046      -1.423      -0.011
CHK_ACCT             0.2248      0.042      5.395      0.000       0.143       0.306
DURATION            -0.0112      0.004     -2.496      0.013      -0.020      -0.002
HISTORY              0.2177      0.049      4.438      0.000       0.122       0.314
USED_CAR             0.6233      0.178      3.494      0.000       0.274       0.973
RADIO_TV             0.4662      0.128      3.639      0.000       0.215       0.717
RETRAINING           0.2388      0.175      1.360      0.174      -0.105       0.583
AMOUNT           -6.359e-05   1.86e-05     -3.414      0.001      -0.000   -2.71e-05
SAV_ACCT             0.1062      0.034      3.118      0.002       0.039       0.173
EMPLOYMENT           0.1957      0.043      4.500      0.000       0.110       0.281
INSTALL_RATE        -0.1468      0.055     -2.668      0.008      -0.255      -0.039
MALE_DIV             0.1760      0.262      0.672      0.502      -0.337       0.690
MALE_SINGLE          0.3382      0.119      2.836      0.005       0.105       0.572
MALE_MAR_or_WID      0.1761      0.179      0.984      0.325      -0.175       0.527
CO_APPLICANT        -0.1217      0.247     -0.492      0.623      -0.606       0.363
GUARANTOR            0.4976      0.248      2.006      0.045       0.012       0.984
PRESENT_RESIDENT    -0.0581      0.048     -1.200      0.230      -0.153       0.037
REAL_ESTATE          0.3750      0.129      2.914      0.004       0.123       0.627
PROP_UNKN_NONE      -0.3072      0.149     -2.063      0.039      -0.599      -0.015
AGE                  0.0180      0.005      3.789      0.000       0.009       0.027
OTHER_INSTALL       -0.3495      0.127     -2.751      0.006      -0.599      -0.100
OWN_RES              0.4294      0.120      3.567      0.000       0.193       0.665
NUM_CREDITS          0.0934      0.116      0.804      0.421      -0.134       0.321
JOB                 -0.1064      0.079     -1.347      0.178      -0.261       0.048
NUM_DEPENDENTS      -0.1471      0.141     -1.043      0.297      -0.424       0.129
TELEPHONE            0.1529      0.113      1.359      0.174      -0.068       0.374
FOREIGN              0.4412      0.339      1.303      0.193      -0.223       1.105
====================================================================================

In [49]:
newf = remove_name_formula(['CO_APPLICANT'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.543297
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2124
Method:                           MLE   Df Model:                           25
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1222
Time:                        09:34:59   Log-Likelihood:                -1168.1
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 5.203e-54
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.7302      0.359     -2.034      0.042      -1.434      -0.027
CHK_ACCT             0.2248      0.042      5.395      0.000       0.143       0.306
DURATION            -0.0113      0.004     -2.507      0.012      -0.020      -0.002
HISTORY              0.2182      0.049      4.448      0.000       0.122       0.314
USED_CAR             0.6256      0.178      3.507      0.000       0.276       0.975
RADIO_TV             0.4667      0.128      3.644      0.000       0.216       0.718
RETRAINING           0.2388      0.175      1.361      0.173      -0.105       0.583
AMOUNT           -6.359e-05   1.86e-05     -3.413      0.001      -0.000   -2.71e-05
SAV_ACCT             0.1068      0.034      3.137      0.002       0.040       0.174
EMPLOYMENT           0.1966      0.043      4.523      0.000       0.111       0.282
INSTALL_RATE        -0.1465      0.055     -2.662      0.008      -0.254      -0.039
MALE_DIV             0.1789      0.262      0.683      0.494      -0.334       0.692
MALE_SINGLE          0.3379      0.119      2.834      0.005       0.104       0.572
MALE_MAR_or_WID      0.1767      0.179      0.988      0.323      -0.174       0.527
GUARANTOR            0.4983      0.248      2.009      0.045       0.012       0.984
PRESENT_RESIDENT    -0.0575      0.048     -1.189      0.234      -0.152       0.037
REAL_ESTATE          0.3741      0.129      2.908      0.004       0.122       0.626
PROP_UNKN_NONE      -0.3099      0.149     -2.083      0.037      -0.602      -0.018
AGE                  0.0180      0.005      3.793      0.000       0.009       0.027
OTHER_INSTALL       -0.3504      0.127     -2.758      0.006      -0.599      -0.101
OWN_RES              0.4289      0.120      3.563      0.000       0.193       0.665
NUM_CREDITS          0.0942      0.116      0.811      0.417      -0.134       0.322
JOB                 -0.1059      0.079     -1.341      0.180      -0.261       0.049
NUM_DEPENDENTS      -0.1460      0.141     -1.036      0.300      -0.422       0.130
TELEPHONE            0.1531      0.113      1.360      0.174      -0.067       0.374
FOREIGN              0.4358      0.339      1.287      0.198      -0.228       1.099
====================================================================================

In [50]:
newf = remove_name_formula(['MALE_DIV'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.543407
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2125
Method:                           MLE   Df Model:                           24
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1220
Time:                        09:35:10   Log-Likelihood:                -1168.3
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 1.738e-54
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.7134      0.358     -1.992      0.046      -1.415      -0.011
CHK_ACCT             0.2247      0.042      5.394      0.000       0.143       0.306
DURATION            -0.0113      0.004     -2.520      0.012      -0.020      -0.003
HISTORY              0.2182      0.049      4.449      0.000       0.122       0.314
USED_CAR             0.6225      0.178      3.491      0.000       0.273       0.972
RADIO_TV             0.4637      0.128      3.623      0.000       0.213       0.715
RETRAINING           0.2421      0.175      1.381      0.167      -0.101       0.586
AMOUNT           -6.315e-05   1.86e-05     -3.393      0.001   -9.96e-05   -2.67e-05
SAV_ACCT             0.1068      0.034      3.138      0.002       0.040       0.174
EMPLOYMENT           0.1967      0.043      4.526      0.000       0.111       0.282
INSTALL_RATE        -0.1487      0.055     -2.707      0.007      -0.256      -0.041
MALE_SINGLE          0.3183      0.116      2.747      0.006       0.091       0.545
MALE_MAR_or_WID      0.1584      0.177      0.896      0.371      -0.188       0.505
GUARANTOR            0.4995      0.248      2.015      0.044       0.014       0.985
PRESENT_RESIDENT    -0.0576      0.048     -1.190      0.234      -0.152       0.037
REAL_ESTATE          0.3734      0.129      2.903      0.004       0.121       0.626
PROP_UNKN_NONE      -0.3098      0.149     -2.081      0.037      -0.601      -0.018
AGE                  0.0182      0.005      3.825      0.000       0.009       0.027
OTHER_INSTALL       -0.3511      0.127     -2.763      0.006      -0.600      -0.102
OWN_RES              0.4333      0.120      3.605      0.000       0.198       0.669
NUM_CREDITS          0.0944      0.116      0.812      0.417      -0.133       0.322
JOB                 -0.1049      0.079     -1.328      0.184      -0.260       0.050
NUM_DEPENDENTS      -0.1476      0.141     -1.047      0.295      -0.424       0.129
TELEPHONE            0.1541      0.112      1.370      0.171      -0.066       0.375
FOREIGN              0.4356      0.339      1.286      0.198      -0.228       1.099
====================================================================================

In [51]:
newf = remove_name_formula(['NUM_CREDITS'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.543562
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2126
Method:                           MLE   Df Model:                           23
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1217
Time:                        09:35:17   Log-Likelihood:                -1168.7
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 6.231e-55
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.6551      0.351     -1.868      0.062      -1.343       0.032
CHK_ACCT             0.2256      0.042      5.420      0.000       0.144       0.307
DURATION            -0.0113      0.004     -2.520      0.012      -0.020      -0.003
HISTORY              0.2248      0.048      4.649      0.000       0.130       0.320
USED_CAR             0.6183      0.178      3.467      0.001       0.269       0.968
RADIO_TV             0.4635      0.128      3.622      0.000       0.213       0.714
RETRAINING           0.2508      0.175      1.433      0.152      -0.092       0.594
AMOUNT           -6.287e-05   1.86e-05     -3.379      0.001   -9.93e-05   -2.64e-05
SAV_ACCT             0.1066      0.034      3.133      0.002       0.040       0.173
EMPLOYMENT           0.1978      0.043      4.555      0.000       0.113       0.283
INSTALL_RATE        -0.1466      0.055     -2.674      0.008      -0.254      -0.039
MALE_SINGLE          0.3196      0.116      2.760      0.006       0.093       0.547
MALE_MAR_or_WID      0.1574      0.177      0.890      0.374      -0.189       0.504
GUARANTOR            0.4994      0.248      2.014      0.044       0.013       0.985
PRESENT_RESIDENT    -0.0567      0.048     -1.173      0.241      -0.152       0.038
REAL_ESTATE          0.3725      0.129      2.897      0.004       0.120       0.625
PROP_UNKN_NONE      -0.3127      0.149     -2.101      0.036      -0.604      -0.021
AGE                  0.0185      0.005      3.909      0.000       0.009       0.028
OTHER_INSTALL       -0.3465      0.127     -2.730      0.006      -0.595      -0.098
OWN_RES              0.4340      0.120      3.611      0.000       0.198       0.670
JOB                 -0.1042      0.079     -1.319      0.187      -0.259       0.051
NUM_DEPENDENTS      -0.1386      0.141     -0.986      0.324      -0.414       0.137
TELEPHONE            0.1569      0.112      1.396      0.163      -0.063       0.377
FOREIGN              0.4401      0.338      1.300      0.193      -0.223       1.103
====================================================================================

In [52]:
newf = remove_name_formula(['MALE_MAR_or_WID'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.543748
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2127
Method:                           MLE   Df Model:                           22
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1214
Time:                        09:35:31   Log-Likelihood:                -1169.1
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 2.329e-55
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.6134      0.347     -1.765      0.078      -1.294       0.068
CHK_ACCT             0.2258      0.042      5.425      0.000       0.144       0.307
DURATION            -0.0113      0.004     -2.524      0.012      -0.020      -0.003
HISTORY              0.2253      0.048      4.659      0.000       0.131       0.320
USED_CAR             0.6184      0.178      3.468      0.001       0.269       0.968
RADIO_TV             0.4710      0.128      3.688      0.000       0.221       0.721
RETRAINING           0.2499      0.175      1.429      0.153      -0.093       0.593
AMOUNT           -6.351e-05   1.86e-05     -3.415      0.001     -0.0001   -2.71e-05
SAV_ACCT             0.1063      0.034      3.124      0.002       0.040       0.173
EMPLOYMENT           0.1972      0.043      4.541      0.000       0.112       0.282
INSTALL_RATE        -0.1465      0.055     -2.672      0.008      -0.254      -0.039
MALE_SINGLE          0.2903      0.111      2.609      0.009       0.072       0.508
GUARANTOR            0.4965      0.248      2.003      0.045       0.011       0.982
PRESENT_RESIDENT    -0.0581      0.048     -1.203      0.229      -0.153       0.037
REAL_ESTATE          0.3731      0.129      2.903      0.004       0.121       0.625
PROP_UNKN_NONE      -0.3133      0.149     -2.106      0.035      -0.605      -0.022
AGE                  0.0185      0.005      3.912      0.000       0.009       0.028
OTHER_INSTALL       -0.3488      0.127     -2.748      0.006      -0.598      -0.100
OWN_RES              0.4398      0.120      3.666      0.000       0.205       0.675
JOB                 -0.1054      0.079     -1.335      0.182      -0.260       0.049
NUM_DEPENDENTS      -0.1427      0.140     -1.016      0.310      -0.418       0.133
TELEPHONE            0.1528      0.112      1.361      0.174      -0.067       0.373
FOREIGN              0.4467      0.338      1.321      0.187      -0.216       1.110
====================================================================================

In [53]:
newf = remove_name_formula(['NUM_DEPENDENTS'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.543986
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2128
Method:                           MLE   Df Model:                           21
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1211
Time:                        09:35:41   Log-Likelihood:                -1169.6
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 9.470e-56
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.7635      0.315     -2.426      0.015      -1.380      -0.147
CHK_ACCT             0.2268      0.042      5.451      0.000       0.145       0.308
DURATION            -0.0112      0.004     -2.502      0.012      -0.020      -0.002
HISTORY              0.2244      0.048      4.643      0.000       0.130       0.319
USED_CAR             0.6216      0.178      3.487      0.000       0.272       0.971
RADIO_TV             0.4768      0.128      3.738      0.000       0.227       0.727
RETRAINING           0.2471      0.175      1.414      0.158      -0.096       0.590
AMOUNT           -6.394e-05   1.86e-05     -3.437      0.001      -0.000   -2.75e-05
SAV_ACCT             0.1061      0.034      3.120      0.002       0.039       0.173
EMPLOYMENT           0.1954      0.043      4.506      0.000       0.110       0.280
INSTALL_RATE        -0.1464      0.055     -2.670      0.008      -0.254      -0.039
MALE_SINGLE          0.2697      0.109      2.467      0.014       0.055       0.484
GUARANTOR            0.4940      0.248      1.994      0.046       0.008       0.980
PRESENT_RESIDENT    -0.0597      0.048     -1.236      0.216      -0.154       0.035
REAL_ESTATE          0.3716      0.129      2.892      0.004       0.120       0.624
PROP_UNKN_NONE      -0.3169      0.149     -2.130      0.033      -0.609      -0.025
AGE                  0.0182      0.005      3.857      0.000       0.009       0.027
OTHER_INSTALL       -0.3517      0.127     -2.772      0.006      -0.600      -0.103
OWN_RES              0.4401      0.120      3.668      0.000       0.205       0.675
JOB                 -0.0987      0.079     -1.254      0.210      -0.253       0.056
TELEPHONE            0.1540      0.112      1.372      0.170      -0.066       0.374
FOREIGN              0.4441      0.339      1.312      0.190      -0.220       1.108
====================================================================================

In [54]:
newf = remove_name_formula(['PRESENT_RESIDENT'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.544342
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2129
Method:                           MLE   Df Model:                           20
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1205
Time:                        09:36:03   Log-Likelihood:                -1170.3
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 4.783e-56
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -0.9123      0.291     -3.137      0.002      -1.482      -0.342
CHK_ACCT           0.2273      0.042      5.466      0.000       0.146       0.309
DURATION          -0.0112      0.004     -2.493      0.013      -0.020      -0.002
HISTORY            0.2220      0.048      4.597      0.000       0.127       0.317
USED_CAR           0.6151      0.178      3.452      0.001       0.266       0.964
RADIO_TV           0.4801      0.127      3.767      0.000       0.230       0.730
RETRAINING         0.2523      0.175      1.445      0.148      -0.090       0.594
AMOUNT         -6.407e-05   1.86e-05     -3.443      0.001      -0.000   -2.76e-05
SAV_ACCT           0.1038      0.034      3.057      0.002       0.037       0.170
EMPLOYMENT         0.1915      0.043      4.426      0.000       0.107       0.276
INSTALL_RATE      -0.1476      0.055     -2.693      0.007      -0.255      -0.040
MALE_SINGLE        0.2624      0.109      2.406      0.016       0.049       0.476
GUARANTOR          0.4955      0.247      2.003      0.045       0.011       0.980
REAL_ESTATE        0.3787      0.128      2.951      0.003       0.127       0.630
PROP_UNKN_NONE    -0.3261      0.149     -2.195      0.028      -0.617      -0.035
AGE                0.0176      0.005      3.759      0.000       0.008       0.027
OTHER_INSTALL     -0.3522      0.127     -2.777      0.005      -0.601      -0.104
OWN_RES            0.4752      0.117      4.076      0.000       0.247       0.704
JOB               -0.0984      0.079     -1.252      0.210      -0.253       0.056
TELEPHONE          0.1479      0.112      1.319      0.187      -0.072       0.368
FOREIGN            0.4409      0.339      1.302      0.193      -0.223       1.104
==================================================================================

In [55]:
newf = remove_name_formula(['JOB'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.544708
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2130
Method:                           MLE   Df Model:                           19
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1199
Time:                        09:36:08   Log-Likelihood:                -1171.1
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 2.412e-56
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -1.0638      0.265     -4.020      0.000      -1.582      -0.545
CHK_ACCT           0.2254      0.042      5.428      0.000       0.144       0.307
DURATION          -0.0116      0.004     -2.581      0.010      -0.020      -0.003
HISTORY            0.2212      0.048      4.582      0.000       0.127       0.316
USED_CAR           0.5907      0.177      3.337      0.001       0.244       0.938
RADIO_TV           0.4811      0.127      3.776      0.000       0.231       0.731
RETRAINING         0.2445      0.175      1.401      0.161      -0.098       0.587
AMOUNT         -6.664e-05   1.85e-05     -3.604      0.000      -0.000   -3.04e-05
SAV_ACCT           0.1015      0.034      2.996      0.003       0.035       0.168
EMPLOYMENT         0.1895      0.043      4.383      0.000       0.105       0.274
INSTALL_RATE      -0.1495      0.055     -2.729      0.006      -0.257      -0.042
MALE_SINGLE        0.2602      0.109      2.387      0.017       0.047       0.474
GUARANTOR          0.5009      0.247      2.025      0.043       0.016       0.986
REAL_ESTATE        0.3923      0.128      3.069      0.002       0.142       0.643
PROP_UNKN_NONE    -0.3302      0.149     -2.223      0.026      -0.621      -0.039
AGE                0.0178      0.005      3.798      0.000       0.009       0.027
OTHER_INSTALL     -0.3565      0.127     -2.813      0.005      -0.605      -0.108
OWN_RES            0.4751      0.117      4.074      0.000       0.247       0.704
TELEPHONE          0.1287      0.111      1.160      0.246      -0.089       0.346
FOREIGN            0.4643      0.338      1.374      0.170      -0.198       1.127
==================================================================================

In [56]:
newf = remove_name_formula(['TELEPHONE'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.545022
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2131
Method:                           MLE   Df Model:                           18
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1194
Time:                        09:36:15   Log-Likelihood:                -1171.8
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 1.069e-56
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -1.0672      0.265     -4.034      0.000      -1.586      -0.549
CHK_ACCT           0.2286      0.041      5.516      0.000       0.147       0.310
DURATION          -0.0110      0.004     -2.470      0.014      -0.020      -0.002
HISTORY            0.2232      0.048      4.628      0.000       0.129       0.318
USED_CAR           0.6042      0.177      3.423      0.001       0.258       0.950
RADIO_TV           0.4804      0.127      3.773      0.000       0.231       0.730
RETRAINING         0.2515      0.174      1.443      0.149      -0.090       0.593
AMOUNT         -6.354e-05   1.83e-05     -3.473      0.001   -9.94e-05   -2.77e-05
SAV_ACCT           0.1028      0.034      3.037      0.002       0.036       0.169
EMPLOYMENT         0.1881      0.043      4.357      0.000       0.103       0.273
INSTALL_RATE      -0.1491      0.055     -2.724      0.006      -0.256      -0.042
MALE_SINGLE        0.2624      0.109      2.408      0.016       0.049       0.476
GUARANTOR          0.4780      0.246      1.941      0.052      -0.005       0.961
REAL_ESTATE        0.3789      0.127      2.977      0.003       0.129       0.628
PROP_UNKN_NONE    -0.3173      0.148     -2.144      0.032      -0.607      -0.027
AGE                0.0183      0.005      3.925      0.000       0.009       0.027
OTHER_INSTALL     -0.3565      0.127     -2.814      0.005      -0.605      -0.108
OWN_RES            0.4816      0.116      4.138      0.000       0.254       0.710
FOREIGN            0.4531      0.338      1.340      0.180      -0.209       1.116
==================================================================================

In [57]:
newf = remove_name_formula(['FOREIGN'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.545467
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2132
Method:                           MLE   Df Model:                           17
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1187
Time:                        09:36:21   Log-Likelihood:                -1172.8
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 6.048e-57
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -1.0281      0.263     -3.911      0.000      -1.543      -0.513
CHK_ACCT           0.2262      0.041      5.466      0.000       0.145       0.307
DURATION          -0.0113      0.004     -2.546      0.011      -0.020      -0.003
HISTORY            0.2233      0.048      4.633      0.000       0.129       0.318
USED_CAR           0.6009      0.177      3.404      0.001       0.255       0.947
RADIO_TV           0.4807      0.127      3.774      0.000       0.231       0.730
RETRAINING         0.2455      0.174      1.408      0.159      -0.096       0.587
AMOUNT         -6.393e-05   1.83e-05     -3.491      0.000   -9.98e-05    -2.8e-05
SAV_ACCT           0.1030      0.034      3.043      0.002       0.037       0.169
EMPLOYMENT         0.1890      0.043      4.379      0.000       0.104       0.274
INSTALL_RATE      -0.1560      0.055     -2.861      0.004      -0.263      -0.049
MALE_SINGLE        0.2622      0.109      2.408      0.016       0.049       0.476
GUARANTOR          0.4917      0.247      1.993      0.046       0.008       0.975
REAL_ESTATE        0.3845      0.127      3.025      0.002       0.135       0.634
PROP_UNKN_NONE    -0.3211      0.148     -2.171      0.030      -0.611      -0.031
AGE                0.0182      0.005      3.908      0.000       0.009       0.027
OTHER_INSTALL     -0.3547      0.127     -2.800      0.005      -0.603      -0.106
OWN_RES            0.4849      0.116      4.170      0.000       0.257       0.713
==================================================================================

In [58]:
newf = remove_name_formula(['RETRAINING'])
logitfit = smf.logit(formula = newf, data = train_data).fit()
print(logitfit.summary())

<class 'list'>
Optimization terminated successfully.
         Current function value: 0.545938
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               RESPONSE   No. Observations:                 2150
Model:                          Logit   Df Residuals:                     2133
Method:                           MLE   Df Model:                           16
Date:                Thu, 11 Nov 2021   Pseudo R-squ.:                  0.1179
Time:                        09:36:35   Log-Likelihood:                -1173.8
converged:                       True   LL-Null:                       -1330.7
Covariance Type:            nonrobust   LLR p-value:                 3.515e-57
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -1.0272      0.263     -3.910      0.000      -1.542      -0.512
CHK_ACCT           0.2281      0.041      5.518      0.000       0.147       0.309
DURATION          -0.0107      0.004     -2.413      0.016      -0.019      -0.002
HISTORY            0.2242      0.048      4.652      0.000       0.130       0.319
USED_CAR           0.5985      0.176      3.392      0.001       0.253       0.944
RADIO_TV           0.4647      0.127      3.664      0.000       0.216       0.713
AMOUNT         -6.231e-05   1.83e-05     -3.412      0.001   -9.81e-05   -2.65e-05
SAV_ACCT           0.1024      0.034      3.029      0.002       0.036       0.169
EMPLOYMENT         0.1878      0.043      4.356      0.000       0.103       0.272
INSTALL_RATE      -0.1569      0.055     -2.878      0.004      -0.264      -0.050
MALE_SINGLE        0.2716      0.109      2.500      0.012       0.059       0.485
GUARANTOR          0.4823      0.247      1.956      0.050      -0.001       0.966
REAL_ESTATE        0.3907      0.127      3.077      0.002       0.142       0.640
PROP_UNKN_NONE    -0.3304      0.148     -2.239      0.025      -0.620      -0.041
AGE                0.0182      0.005      3.896      0.000       0.009       0.027
OTHER_INSTALL     -0.3444      0.126     -2.728      0.006      -0.592      -0.097
OWN_RES            0.4923      0.116      4.240      0.000       0.265       0.720
==================================================================================

All remaining variables have p value 0.05 or less.

In [59]:
train_log_preds = np.array(logitfit.predict(X_train) , dtype=float) #predictions on training set
test_log_preds = np.array(logitfit.predict(X_test) , dtype=float) #predicitons on validation set
metrics.roc_auc_score(y_train, train_log_preds), metrics.roc_auc_score(y_test, test_log_preds)

(0.7305978485223769, 0.7156737737463079)

# SMOTE Resampling

In [64]:
from imblearn.over_sampling import SMOTE
smt = SMOTE(random_state = 3101)
X_train_sm, y_train_sm = smt.fit_resample(X_train, y_train)

# Linear Discriminant Analysis

In [60]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [75]:
lda = LinearDiscriminantAnalysis()
lda.fit(X_train_sm, y_train_sm)

LinearDiscriminantAnalysis()

In [76]:
train_lda_preds = lda.predict_proba(X_train_sm)[:,1]
test_lda_preds = lda.predict_proba(X_test)[:,1]

In [77]:
metrics.roc_auc_score(y_train_sm, train_lda_preds), metrics.roc_auc_score(y_test, test_lda_preds)

(0.8435590594372318, 0.6810852688154688)

# Support Vector Machine

In [65]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [81]:
svm = make_pipeline(StandardScaler(), SVC(kernel = 'linear',probability = True, C = 50))
svm.fit(X_train_sm, y_train_sm)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(C=50, kernel='linear', probability=True))])

In [82]:
svm_train_preds = svm.predict_proba(X_train_sm)[:,1]
svm_test_preds = svm.predict_proba(X_test)[:,1]

In [83]:
metrics.roc_auc_score(y_train_sm, svm_train_preds), metrics.roc_auc_score(y_test, svm_test_preds)

(0.8434419068446175, 0.6841357715835176)

# XGB

In [69]:
from xgboost import XGBClassifier

In [70]:
clf = XGBClassifier(objective='binary:logistic',
                            eval_metric='auc',
                            max_depth= 10,
                            learning_rate = 0.08,
                            min_child_weight = 10
                            )

clf.fit(X_train_sm, y_train_sm)
y_pred = clf.predict_proba(X_train_sm)[:,1]
y_pred2 = clf.predict_proba(X_test)[:,1]
metrics.roc_auc_score(y_train_sm, y_pred), metrics.roc_auc_score(y_test, y_pred2)

/Users/jasinchow/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

(0.9715169353608301, 0.6933841212453798)

# Ensembling the methods

In [84]:
y_log = logitfit.predict(test)
y_lda = lda.predict_proba(test)[:,1]
y_svm = svm.predict_proba(test)[:,1]
y_xgb = clf.predict_proba(test)[:,1]
y_final = (y_log + +y_lda + y_svm + y_xgb) / 4

In [106]:
df = pd.concat([IDs, pd.DataFrame(y_final)], axis = 1)
df.columns = ['ID','RESPONSE']
path = '/Users/jasinchow/Downloads/submission.csv'
pd.DataFrame(df).to_csv(path, index = False)

In [86]:
df

       ID  RESPONSE
0    3001  0.354092
1    3002  0.705087
2    3003  0.927445
3    3004  0.215141
4    3005  0.197134
..    ...       ...
995  3996  0.207064
996  3997  0.574652
997  3998  0.135220
998  3999  0.211643
999  4000  0.088589

[1000 rows x 2 columns]

In [87]:
y_log_csv = np.array(logitfit.predict(test) > 0.5, dtype = float)
y_lda_csv = lda.predict(test)
y_svm_csv = svm.predict(test)
y_xgb_csv = clf.predict(test)

In [93]:
y_final_csv = np.array(((y_log_csv + y_lda_csv + y_svm_csv + y_xgb_csv) / 4) > 0.5, dtype = float)

In [103]:
df_csv = pd.concat([IDs,pd.DataFrame(y_final_csv)], axis = 1)
df_csv.columns = ['ID','RESPONSE']
df_csv

       ID  RESPONSE
0    3001       0.0
1    3002       1.0
2    3003       1.0
3    3004       0.0
4    3005       0.0
..    ...       ...
995  3996       0.0
996  3997       0.0
997  3998       0.0
998  3999       0.0
999  4000       0.0

[1000 rows x 2 columns]

In [105]:
path2 = '/Users/jasinchow/Downloads/response.csv'
df_csv.to_csv(path2, index = False)